@model AssetModelDTO

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row rowAsset">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <label style="font-weight: bold; color: #0a58ca;">Model Ekleme</label>
                    </div>
                    <div>
                        <form asp-action="AddModel" asp-controller="Model" asp-area="Admin" method="post">
                            <div class="row" style="padding: 40px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Asset Tipi </label>
                                        <select asp-for="@Model.AssetBrandID" asp-items="@(new SelectList(ViewBag.AssetBrand,"ID","Description"))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label>Açıklama</label>
                                        <input type="text" asp-for="@Model.Description" class="form-control">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" style=" width: 100%;" name="name" class="btn btn-primary" value="Kaydet" />
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-secondary" href="/admin/model/index">Sayfaya Dön</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
