/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*sonradan eklenenler*/


/*#region AssetAdd */

.rowAsset {
    padding: 2rem;
}


.reqSpan {
    color: red;
}

.lbl-asset {
    font-weight: 600;
    font-size: 14px;
}

.assetIcondiv {
    background-color: white;
    text-align: '-webkit-center';
    color: #0a58ca;
    margin-top: 4px;
    float: left;
    margin: 7px;
    width: 20%;
    height: 35px;
    border-radius: 10px;
}

.newAssetdiv {
    background-color: #0a58ca;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:10%;
}


#AssetWithoutBarcodeDiv {
    pointer-events: auto;
    opacity: 1;
}

#AssetBarcodeInput {
    pointer-events: none;
    opacity: 0.8;
    background-color: #E5E7E9;
}

/*#endregion */


/*#region checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
    background-color: #52BE80;
}

/* include generated hidden field here */
input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #52BE80;
}

/* include generated hidden field here */
input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*#endregion */


/*#region Asset Management */
.ul-menuAsset {
    list-style: none;
    margin-left: 10%;
    display: inline-block !important;
}

.li-menuAsset {
    display: inherit;
    margin: 10px;
    position: relative;
}

.a-menuAsset {
    color: #8A9DAE !important;
    font-size: 25px !important;
    font-weight: 300;
    border-bottom: 1px solid #f4f5f7;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    font-size: 30px;
    font-weight: 700;
    color: #1753C9 !important;
    border-bottom: 1px solid #2DC8FF;
    background-color: #F4F5F7;
    border-color: white;
}

.asset-number {
    font-size: 20px;
    margin-left: 0%;
    padding: 2px;
    text-align: center;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 100%;
    color: #a7a9ac;
    background: #f4f5f7;
    border: 1px solid white;
}


.header-ul {
    display: flex;
    font-size: 16px;
    list-style: none;
}

.header-li {
    border: 2px solid #c6c6c7;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
    color: #2DC8FF;
}

/*#endregion */