

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <ul class="header-ul mt-2">
                <li class="header-li">Kullanımda Olanlar <span class="tm-top-number" style=" font-size: 14px">305</span></li>
            </ul>
        </div>
        <div class="card-body">
            <table id="datatablesTeamassetList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kayıt Numarası</th>
                        <th>Barkod</th>
                        <th>Ürün Tipi</th>
                        <th>Ürün Güncel Fiyatı</th>
                        <th>Markası</th>
                        <th>Modeli</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>