@model AddBrandVM

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row rowAsset">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <label style="font-weight: bold; color: #0a58ca;">Marka Ekleme</label>
                    </div>
                    <div>
                        <form asp-action="AddBrand" asp-controller="Brand" asp-area="admin" method="post">
                            <div class="row" style="padding: 40px;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label> Asset Tipi </label>
                                        <select asp-for="@Model.AssetTypeID" asp-items="@(new SelectList(Model.AssetType, "ID","Description"))" class="form-control">
                                            <option value="">Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="lbl-asset"><label class="reqSpan">*</label>Açıklama</label>
                                        <input type="text" asp-for="@Model.Description" class="form-control">
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2">
                                        <input type="submit" style=" width: 100%;" name="name" class="btn btn-primary" value="Kaydet" />
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
